/* index.css */

/* LIGHT MODE (default) */
body {
  background-color: #f1f2f6;
  color: #000;
  transition: background 0.3s ease, color 0.3s ease;
}

/* DARK MODE CLASS */
.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode .loginbox {
  background-color: #111;
  color: #fff;
}

.dark-mode .loginright {
  background-color: #b20024;
}

.dark-mode input {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.dark-mode .loginbtn {
  background-color: #b20024;
}
