.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  margin-left: 15px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00d4ff;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

/* Light Mode */
.light {
  background-color: white;
  color: black;
}

/* Dark Mode */
.dark {
  background-color: #121212;
  color: white;
}
